@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

    <!-- breadcrumb section start -->
    <section class="breadcrumb">
        <div class="container">
            <span>Home</span>
            <span>News</span>
            <h2>News & Articles</h2>
        </div>
    </section>
    <!-- breadcrumb section end -->