@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

    <!-- contact card section start -->
    <section class="contact-cards">
        <div class="container">
            <div class="cards-grid">
                <a href="#" class="contact-card">
                    <div class="contact-card-content">
                        <div class="contact-card-icon">
                            <i class="fa-solid fa-location-dot"></i>
                        </div>
                        <div class="contact-card-text">
                            <h5>Visit us</h5>
                            <p>Sveavägen 31</p>
                            <p>111 34 STOCKHOLM</p>
                        </div>
                    </div>
                </a>
                <a href="#" class="contact-card">
                    <div class="contact-card-content">
                        <div class="contact-card-icon">
                            <i class="fa-solid fa-phone"></i>
                        </div>
                        <div class="contact-card-text">
                            <h5>Call us</h5>
                            <p>+46 (8) 121 470 50</p>
                            <p>+46 (8) 121 470 51</p>
                        </div>
                    </div>
                </a>
                <a href="#" class="contact-card">
                    <div class="contact-card-content">
                        <div class="contact-card-icon">
                            <i class="fa-solid fa-envelope"></i>
                        </div>
                        <div class="contact-card-text">
                            <h5>Email us</h5>
                            <p>info@crito.com</p>
                            <p>support@crito.com</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </section>
    <!-- contact card section end -->
