@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

    <section class="leave-us-a-message">
        <div class="container">
            <div class="leave-us-a-message-header">
                <h1>Leave us a message <br>for any information.</h1>
            </div>
            <div class="message-grid">
                <input type="text" placeholder="Name*">
                <input type="text" placeholder="Email*">
                <textarea placeholder="Your Message*"></textarea>
                <button class="button-yellow"><span>Send Message</span><i class="fa-solid fa-arrow-trend-up"></i></button>
            </div>
        </div>
    </section>
