@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

    <!-- News Signup section start-->
    <section class="news-signup">
        <div class="container">
            <div>
                <h2>Get News Updates By Signup</h2>
                <input type="text" placeholder="username@domain.com">
                <button class="button-yellow"><span>Subscribe</span><i class="fa-solid fa-arrow-trend-up"></i></button>
            </div>
        </div>
    </section>
    <!-- News Signup section end-->
