@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

        <!-- news detail section start -->
        <section class="news-details">
            <div class="container">
                <div class="details-header">
                    <h1>How To Use Digitalization In The Classroom</h1>
                    <div class="header-details">
                        <p>Mar 25, 2023</p>
                        <div class="yellow-dot"></div>
                        <p>Business</p>
                        <div class="yellow-dot"></div>
                        <p>Kimberly Hansen</p>
                    </div>
                </div>
                <div class="news-details-grid">
                    <div class="news-details-body">
                        <img src="IMAGES/smiling-woman-big.svg" alt="smiling-woman">
                        <div class="news-details-text">
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Maecenas porttitor congue massa. Fusce posuere, magna sed pulvinar ultricies, purus lectus malesuada libero, sit amet commodo magna eros quis urna.</p>
                            <p>Nunc viverra imperdiet enim. Fusce est. Vivamus a tellus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Proin pharetra nonummy pede. Mauris et orci. Aenean nec lorem. In porttitor. Donec laoreet nonummy augue. uspendisse dui purus, scelerisque at, vulputate vitae, pretium mattis, nunc. Mauris eget neque at sem venenatis eleifend. Ut nonummy.</p>
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Maecenas porttitor congue massa. Fusce posuere, magna sed pulvinar ultricies, purus lectus malesuada libero, sit amet commodo magna eros quis urna. unc viverra imperdiet enim. Fusce est. Vivamus a tellus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Proin pharetra nonummy pede. Mauris et orci.</p>
                            <p>Aenean nec lorem. In porttitor. Donec laoreet nonummy augue. Suspendisse dui purus, scelerisque at, vulputate vitae, pretium mattis, nunc. Mauris eget neque at sem venenatis eleifend. Ut nonummy.</p>
                        </div>
                        <div class="news-details-quote">
                            <img src="IMAGES/quote.svg" alt="quote">
                            <p><i>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Maecenas porttitor congue massa. Fusce posuere, magna sed pulvinar ultricies, purus lectus malesuada libero, sit amet commodo magna eros quis urna.</i></p>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Maecenas porttitor congue massa. Fusce posuere, magna sed pulvinar ultricies, purus lectus malesuada libero, sit amet commodo magna eros quis urna. unc viverra imperdiet enim. Fusce est. Vivamus a tellus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. </p>
                        <div class="tags">
                            <a href="#" class="tag">Digitalization</a>
                            <a href="#" class="tag">School</a>
                            <a href="#" class="tag">IT</a>
                            <a href="#" class="tag">Design</a>
                            <a href="#" class="tag">Work</a>
                            <a href="#" class="tag">Tech</a>
                        </div>
                    </div>
                    <div class="sidebar">
                        <input type="text" placeholder="Type to search...">
                        <div class="recent-posts">
                            <h3>Recent Posts</h3>
                            <div class="post">
                                <h5>How To Blow Through Capital At An Incredible Rate</h5>
                                <p>Jan 14, 2020</p>
                            </div>
                            <div class="post">
      
                                <h5>Design Studios That Everyone Should Know About? </h5>
                                <p>Jan 14, 2020</p>
                            </div>
                            <div class="post">
                                <h5>How did we get 1M+ visitors in 30 days without anything!</h5>
                                <p>Jan 14, 2020</p>
                            </div>
                            <div class="post">
                                <h5>Figma On Figma: How We Built Our Website Design System</h5>
                                <p>Jan 14, 2020</p>
                            </div>
                        </div>
                        <div class="categories">
                            <h3>Categories</h3>
                            <div class="category">
                                <h6>Technology</h6>
                                <span>-</span>
                                <a href="#">20 Posts</a>
                            </div>
                            <div class="category">
                                <h6>Freelancing</h6>
                                <span>-</span>
                                <a href="#">07 Posts</a>
                            </div>
                            <div class="category">
                                <h6>Writing</h6>
                                <span>-</span>
                                <a href="#">16 Posts</a>
                            </div>
                            <div class="category">
                                <h6>Marketing</h6>
                                <span>-</span>
                                <a href="#">11 Posts</a>
                            </div>
                            <div class="category">
                                <h6>Business</h6>
                                <span>-</span>
                                <a href="#">35 Posts</a>
                            </div>
                            <div class="category">
                                <h6>Education</h6>
                                <span>-</span>
                                <a href="#">14 Posts</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- news detail section end -->