@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@using Umbraco.Cms.Core.Models

    <!-- Why choose us section start-->
    <section class="why-choose-us">
        <div class="background-rectangle"></div>
        <div class="container">
            <h3>Why choose us</h3>
            <div class="choose-us-grid">
                <div class="choose-us-content">
                    <h2>Why We Are The Best Business Consulting Agency</h2>
                    @Html.GetBlockListHtml(Model.WhyChooseUsContent)
                </div>
                <div class="choose-us-image">
                    @{
                        var whyChooseUsImage = Model.Value<MediaWithCrops>("WhyChooseUsImage");
                        if (whyChooseUsImage != null)
                        {
                            <img src="@whyChooseUsImage.MediaUrl()" alt=""/>
                        }
                    }

                </div>
            </div>
        </div>
    </section>
    <!-- Why choose us section end-->
