@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.ContactPage>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	Layout = "PageWithBreadcrumb.cshtml";
}

    <!-- contact card section start -->
    <section class="contact-cards">
        <div class="container">
            <div class="cards-grid">
                @Html.GetBlockListHtml(Model.ContactCardContent)


            </div>
        </div>
    </section>
    <!-- contact card section end -->
@await Html.PartialAsync("_MessageSection")
@await Html.PartialAsync("_GoogleMapsSection")