@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockListItem>;
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
    var content = (ContentModels.ContactCardContent)Model.Content;
}

<a href="#" class="contact-card">
    <div class="contact-card-content">
        <div class="contact-card-icon">
            <i class="@content.Value("contactCardContentIcon")"></i>
        </div>
        <div class="contact-card-text">
            <h5>@content.Value("contactCardContentTitle")</h5>
            <p>@content.Value("contactCardContentTextUpper")</p>
            <p>@content.Value("contactCardContentTextLower")</p>
        </div>
    </div>
</a>